---
layout: default
---

<div id="home">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <div class="meta">
          <span>
            {% for category_name in post.categories limit:1 %}
              <span class="category">{{ category_name }}</span> &#183;
            {% endfor %}
            {{ post.date | date_to_string }}
          </span>
        </div>

        <a class="title" href="{{ post.url }}">{{ post.title }}</a>
        <div class="body">
          {% if post.image %}
            <img class="post-image" src="{{ post.image }}">
          {% endif %}
          <span class="location">{{ post.location }}</span>— {{ post.content }}</div>
        <div class="share">
          <!-- FACEBOOK -->
          <div class="fb-like" data-href="{{ post.url }}" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true"></div>
          <!-- TWITTER -->
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thebubble.cc{{post.url}}" data-text="{{ post.title }}" data-via="thebubblecc">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/{{ paginator.previous_page }}" class="previous">← Newer</a>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/{{ paginator.next_page }}" class="next">Older →</a>
  {% endif %}
</div>