<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="http://www.somethinglabs.com/">
		<img src="/assets/ico/somethinglabs.png?s=150" class="img-circle" style="width: 150px"/>
	</a>
	<h3 class="title">
		<a href="{{ site.ROOT_PATH }}/">{{ site.title }}</a>
  </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		<li>
			<a class="btn btn-default btn-sm" href="https://twitter.com/{{ site.author.twitter }}">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.ROOT_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
</div>

<! -- sidebar.html end -->