header {
  background: #0071bc;
  height: 100px;
  margin-top: -60px;
}

header #logo {
  float: left;
}

.fb-like {
  top: -6px !important;
}

.pagination {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
  text-align: center;
}

.post-image {
  margin: 10px auto 15px ;
  width: 100%;
}